<%require 'erb' %>
        <% template = ERB.new(File.read('shared/_form.erb')) %>
        <%= template.result(binding) %>
        <p> エラー</p>      
        <script>
        	alert('入力項目が不足しています。')
        </script>
    </body>
</html>
