<h1>Login</h1>
<form method="POST" action="/login">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="password">Password</label>
        <input type="password" name="password" />
    </fieldset>
    <input type="submit" value="Login" />
</form>